<!--
  Generated template for the DevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ device.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="device.category == 'sensor'">
    <h4>Device UUID</h4>
    <p>{{ device.uuid }}</p>
    <h4>Device category</h4>
    <p>{{ device.category }}</p>
    <h4>Device metric</h4>
    <p>{{ device.metric }}</p>
    <h4>Device interval between metrics</h4>
    <p>{{ device.elapsedBetweenPoints }} ms</p>
    <h4>Device Mac Address</h4>
    <p>{{ device.macAddress }}</p>
    <h4>Metrics history :</h4>
    <ion-card>
      <ion-card-content>
        <canvas #sensorHistory></canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="device.category == 'device'">
    <h4>Device UUID</h4>
    <p>{{ device.uuid }}</p>
    <h4>Device Mac Address</h4>
    <p>{{ device.macAddress }}</p>
    <h4 text-center>Status</h4>
    <p text-center>
      <span *ngIf="device.status == true" class="statusON"> ON</span>
      <span *ngIf="device.status == false" class="statusOFF"> OFF</span>
    </p>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary" [outline]="isOutline" [round]="isRound" (click)="sendCommand(device)">Send command</button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="getLog">
    <p *ngFor="let log of getLog">
      {{ log.toString() }}
    </p>
  </div>

</ion-content>
